.credits-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.c{
    margin-left: 30px;
}
.c a{
    color: #000;
}
/* header */

.credits-header{
    margin-top: 70px;

    background-color: #396aff;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 40px;
    gap: 30px;
    margin-bottom: 30px;
}

.credits-header img{ border-radius: 5px; }

.credits-header.movie-title{
    font-size: 1.8rem;
}

.credits-header.movie-title span{
    color: #ffffffcb;
    font-weight: 100;
}

.back-to-details{
    color: #ffffffcb;
    padding: 0;
    font-weight: bold;
    transition: all .2s ease;
}

.back-to-details:hover{
    color: #fff;
}

/* cast&crew section */

.c p{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 19px;
}

.c p span{
    font-weight: 100;
    color: #00000094;
}

.depart p{
    font-size: 1rem;
    margin: 30px 0 10px 0;
}
/* person */
.person{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.person-pfp img{
    overflow: hidden;
    border-radius: 6px;
}

.person-info .person-name{
    font-weight: bold;
}
.person-info .person-ah{
    font-size: .9rem;
}

/* mediaQuery */

@media (max-width: 700px){
    .person{
        flex-direction: column;
        align-items: baseline;
        gap: 10px;
        margin-bottom: 30px;
    }

}