.favorite-page{
    margin-top: 70px;
    min-height: calc(100vh - 70px);
    position: relative;
}
/* for the msg if there is no movies yet */
.msg{
    background: #e8e8e8;
    /* width: 50%; */
    padding-inline: 30px;
    min-height: 200px;
    border: 2px solid #0000005c;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -78%);
}


@media (max-width: 800px){
    .msg{ width: 90%; }
    .msg h1{ font-size: 1.7rem; }
}
@media (max-width: 430px){
    .msg h1 { font-size: 1.4rem; }
}



.favorite-page h1{
    margin-bottom: 20px;
    color: #ff1447d7;
}
.favorite-page p{
    color: #000000b7;
}
.fav-header{
    margin-top: 100px;
    text-align: center;
}

.movie-summary p{
    color: #fff;
}