/* Homepage styles */



/* form styles */

form{
    margin: 90px auto 40px auto;
    width: 60%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 2px solid #000;
    border-radius: 10px;
}
form .bi{
    font-size: 2rem;
    margin-right: 3px;
}
form input{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    border: none;
    outline: none;
}

