.person-details-container{
    padding: 30px 40px;
    margin-top: 110px;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 30px;
}
.person-details-container a{
    color: #000;
}

.small-screen-name{ display: none; }

/* main info styles */
.main-info{
    overflow: hidden;
}

.personal-img{
    width: 100%;
    margin-bottom: 20px;
}

.personal-img img{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

/* facts styles */
.info-line strong, .info-line span{
    display: block;
}

.block{
    margin-bottom: 20px;
}

.info-line span{
    margin-top: 10px;
}

/* details & known for list */

.sub-info{
    overflow: hidden;
}

.biography p{
    line-height: 22px;
    word-wrap: break-word;
}

.known-for{
    overflow: hidden;
}

.known-for-list{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.known-for-list .known-item{
    flex-shrink: 0; 
}

.known-for-list img{
    border-radius: 10px;
    width: 150px;
    height: 225px;
}

.known-for-list p{
    margin-top: 10px;
    text-align: center;
    max-width: 150px;
    word-wrap: break-word;
}

/* Media Queries */

@media (max-width: 850px) {
    .person-details-container{
        grid-template-columns: 1fr; 
        padding: 30px 20px;
        margin-top: 90px;
    }

    .small-screen-name{ 
        display: block;
        font-size: 1.8rem;
        text-align: center;
    }
    .big-screen-name{ 
        display: none; 
    }

    .main-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .personal-img{
        display: flex;
        justify-content: center;
    }

    .personal-img img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .social-links{
        display: flex;
        justify-content: center;
        gap: 15px;
        font-size: 1.5rem;
    }

    .personal-info{
        width: 100%;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 30px;
        align-items: flex-start;
    }

    .personal-info h3{
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
    }

    .sub-info{
        width: 100%;
    }
}

/* Smaller phones */
@media (max-width: 500px) {
    .personal-img img{
        width: 250px;
        height: 250px;
    }

    .personal-info{
        flex-wrap: nowrap; 
    }
}